/* Importar Google font Poppins */
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #595DB8;
}
h1{
    position: absolute;
    top: 64px;
    background-color: #fff;
    color: #595DB8;
    padding: 8px 24px;
    border-radius: 8px;
}
/* Caixa de lista de usuarios */
.lista-usuarios{
    width: 448px;
    background-color: #fff;
    border-radius: 8px;
    padding: 30px 24px 20px;
    list-style: none;
}
/* Um Retangulo com usuario item */
.lista-usuarios .item{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #ccc;
    margin-bottom: 12px;
    padding: 10px 12px;
    border-radius: 6px;
}
/* Conteiner de um usuario */
.item .detalhes{
    display: flex;
    align-items: center;
}
/* Definido stilo da foto de perfil */
.item .detalhes img{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 12px;
}
/* Nome de usuario */
.item .detalhes span{
    font-size: 1.13rem;
}
/* Icone */
.item i{
    color: #474747;
    font-size: 1.13rem;
}
/* Desaparece com o item que estou segurando */
.item.arrastando :where(.detalhes, i){
    opacity: 0;
}