*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  list-style: none;
}

:root{
  --bg-color: #6a91f3;
  --font-color: #161616;
  --border-focus: #055ee4;
}

body{
  background-color: var(--bg-color);
}

.material-symbols-outlined{
  display: flex;
}

/* CAIXA DE ENTRADA */
.sombra-caixa{
  position: fixed;
  background-color: #161616a9;
  height: 100%;
  width: 100%;
  z-index: 2;
  display: none;
}

.caixa-entradas{
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  border-radius: 4px 4px 8px 8px;
  padding: 4px 10px 10px 10px;
}
.caixa-entradas header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 4px;
  margin-bottom: 8px;
  border-bottom: 1px solid #6c6a6a;
}
.caixa-entradas header h3{
  font-weight: 600;
}

.fechar{
  background-color: #ffffff00;
  border: 0;
  font-size: 24px;
  color: #161616;
  opacity: .5;
}
.fechar:hover{
  opacity: 1;
  cursor: pointer;
}

.entrada-titulo{
  margin-bottom: 12px;
}
.entrada-titulo input,
.entrada-descricao textarea{
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #6c6a6a;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.25);
}
:is(.entrada-titulo, .entrada-descricao) > p{
  margin-bottom: 4px;
}
:is(.entrada-titulo input, .entrada-descricao textarea):focus{
  outline: none;
}
:is(.entrada-titulo input, .entrada-descricao textarea):focus{
  outline: none;
  outline: solid 1px var(--border-focus);
}
.entrada-descricao textarea{
  height: 180px;
  resize: none;
}

.add-nota,
.editar-nota{
  background-color: #6e79f0;
  padding: 10px 4px;
  border: 0;
  border-radius: 8px;
  color: #fff;
}
.editar-nota:hover,
.add-nota:hover{
  background-color: #5663f1;
  cursor: pointer;
}

/* BTN CRIAR CIXA DE ENTRDAS */
.criar-nova-nota{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--bg-color);
  font-size: 18px;
  padding: 24px;
  border: 0;
  border-radius: 4px;
  margin: 0 auto;
}
.criar-nova-nota:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.criar-nova-nota > span{
  border: dashed 1px var(--bg-color);
  border-radius: 50%;
  padding: 8px;
}

/* LISTA DE NOTAS */
.lista-de-notas{
  margin: 24px;
  display: grid;
  grid-template-areas: "nota nota nota nota";
  grid-template-columns: 256px;
  gap: 16px;
  justify-content: center;
}
@media (max-width: 1148px) {
  .lista-de-notas{
    grid-template-areas: "nota nota nota";
  }
}
@media (max-width: 864px) {
  .lista-de-notas{
    grid-template-areas: "nota nota";
  }
}
@media (max-width: 536px) {
  .lista-de-notas{
    grid-template-areas: "nota";
  }
}

/* NOTAS */
.nota{
  background-color: #fff;
  width: 256px;
  height: 256px;
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 4px;
  position: relative;
}

.titulo{
  font-size: 24px;
  font-weight: 500;
}

.descricao{
  font-size: 14px;
  color: #444343;
  height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
}

.configuracoes{
  display: flex;
  justify-content: space-between;
  padding-top: 14px;
  border-top: solid 1px #636161;
}

.data{
  font-size: 15px;
}

.ferramentas{
  background-color: #ffffff00;
  border: 0;
  color: #161616;
  opacity: .5;
}
.ferramentas:hover{
  opacity: 1;
  cursor: pointer;
}

.ferramentas-menu{
  height: 64px;
  width: 100px;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  border-radius: 4px;
  overflow: hidden;
  position: absolute;
  top: 164px;
  right: 24px;
  transform: scale(0);
  transition: .1s ease-in-out;
}

:is(.editar, .deletar){
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 0;
}
:is(.editar, .deletar) > span{
  margin: 0 2px 0 4px;
}
:is(.editar, .deletar):hover{
  background-color: #e8e5e5;
  cursor: pointer;
}
.deletar > span{
  margin: 0 4px 0 2px;
}

/* -------------------------- */

.ver-caixa{
  display: block;
}

.ver-menu-ferramentas{
  transition: .1s ease-in-out;
  transform: scale(1);
}

.display-none{
  display: none;
}